<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POIT'2019</title>
    <style type="text/css">           
    </style>
    <script src="static/libs/jquery-1.11.1.min.js"></script>
    <script src="static/libs/plotly-latest.min.js"></script>

  <script>
   $(document).ready(function(){
    var tmp= "Riadok suboru";
    document.getElementById('value').placeholder=tmp;
    var layout = {
          title: 'Priebeh naklonu vozidla',
          xaxis: {
            title: 'poradie vzorky',
           
          },
          yaxis: {
            title: 'Uhol (Degree)'
          }
        };

    $('form#record').submit(function(event) {
          var $link="/read/"+$('#value').val();
          console.log($link)
          
    $.ajax({
      type: "GET",
      url: $link,
      success:function(data) 
      { console.log(data);  
        data = JSON.parse(data);
        console.log(data);    
        n = Object.keys(data).length;
        console.log(n);
        
        xN = [];
            yAx = [];
            yAy = [];

            for (var i=0; i< n; i++){
              xN.push(data[i].N);
              yAx.push(data[i].Ax);
              yAy.push(data[i].Ay);}
            let trace = [{
                x: xN,
                y: yAx,
                name:"Bocny Naklon"},
                {
                x: xN,
                y: yAy,
                name:"Hlavny Naklon"}        ];   
        Plotly.newPlot($('#plotdiv')[0], trace,layout);         
      }
    }).done(function( o ) {
       // do something
    });
          return false;
          });
   });   

  </script>
</head>
<body>
    <form id="record" method="POST" action='#'>
    <input type="text" name="value" id="value">
    <input type="submit" value="Echo">
    </form>
    <div id="plotdiv" style="width:600px;height:250px;"></div>
      <a href="/"><font size="7" face="Comic Sans MS" color="darkblue">Navrat na hlavnu stranku
</font></a>
</body>
</html> 